body{
    margin: 0 auto;
    width: 90%;
}
h3{
    margin-left: 10px;
}
a{
    margin-left: 20px;
}
.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.container{
    margin: 5px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(227, 232, 248);
}
.custom{
    color: white;
    width: 70px;
    border: none;
    border-radius: 3px;
    background-color: rgb(67, 69, 236);
}
.table{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}
.container2{
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
}
.fo_re {
	font-weight: bold;
	color:red;
	margin-left: 15px; 
}
.search_box {
	margin:10px;
	
}
